.site-layout-content {
	background: #fff;
	padding: 24px;
	min-height: 380px;
}

.logo {
	width: 200px;
	min-height: 31px;
	margin: 16px 24px 16px 0;
	float: left;
	background-image: url(https://cdn.jsdelivr.net/gh/cotes2020/chirpy-images/commons/avatar.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.table-striped-rows th,
.table-striped-rows td {
	border-bottom: 1px solid #dedddd !important;
}

.table-striped-rows tr:nth-child(2n) td {
	background-color: #fbfbfb;
}

.table-striped-rows thead {
	background-color: #f1f1f1;
}
